<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link th:href="@{/styles/taco-cloud.css}">
</head>
<body>

    <h1> Order your taco creations!  </h1>
    <img th:src="@{/images/TacoCloud.png}">

    <a th:href="@{/design}" id="another">Design another taco</a> <br/>

    <form method="post" th:action="@{/orders}" th:object="${order}">
        <div th:if="${#fields.hasErrors()}">
            <span class="validationError">Please correct problem below and resubmit</span>
        </div>
        <h3>Delivery my taco master pieces to ...</h3>
        <label for="name">Name: </label>
        <input type="text" th:field="*{name}"/>
        <span th:if="${#fields.hasErrors('name')}" class="validationError"
              th:errors="*{name}">
            Errors
        </span>
        <br/>
        <label for="street">Street Address: </label>
        <input type="text" th:field="*{street}"/>
        <br/>
        <label for="city">City: </label>
        <input type="text" th:field="*{city}"/>
        <br/>
        <label for="state">State: </label>
        <input type="text" th:field="*{state}"/>
        <br/>
        <label for="zip">Zip code: </label>
        <input type="text" th:field="*{zip}"/>
        <span th:if="${#fields.hasErrors('zip')}" class="validationError"
              th:errors="*{zip}">
            Errors
        </span>
        <br/>

        <h3> Here's how I pay ....</h3>
        <label for="ccNumber">Credit Card #:</label>
        <input type="text" th:field="*{ccNumber}" />
        <span th:if="${#fields.hasErrors('ccNumber')}" class="validationError"
              th:errors="*{ccNumber}">
            Errors
        </span>
        <br/>
        <label for="ccExpiration">Expiration: </label>
        <input type="text" th:field="*{ccExpiration}" />
        <span th:if="${#fields.hasErrors('ccExpiration')}" class="validationError"
              th:errors="*{ccExpiration}">
            Errors
        </span>
        <br/>
        <label for="ccCVV">CVV: </label>
        <input type="text" th:field="*{ccCVV}" />
        <span th:if="${#fields.hasErrors('ccCVV')}" class="validationError"
              th:errors="*{ccCVV}">
            Errors
        </span>
        <br/>
        <input type="submit" value="Submit Order"/>

    </form>
</body>

</html>